.contacts-container {
  padding: 40px;
  background: #f5f5f5;
  min-height: 100vh;
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.add-btn:hover {
  background: #0056b3;
}

.contacts-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.contacts-table th,
.contacts-table td{
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.edit-button {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.contacts-table th {
  background: #f0f0f0;
  font-weight: bold;
}

.empty-text {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: gray;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input-group label {
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.cancel-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #6c757d;
  color: white;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #545b62;
}

.save-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #28a745;
  color: white;
  cursor: pointer;
}

.save-btn:hover {
  background: #1e7e34;
}
